In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/schedule.csv", skiprows=1, header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8
0,Tue Oct 27 2015,8:00 pm,Box Score,Detroit Pistons,106.0,Atlanta Hawks,94.0,NaN,NaN
1,Tue Oct 27 2015,8:00 pm,Box Score,Cleveland Cavaliers,95.0,Chicago Bulls,97.0,NaN,NaN
2,Tue Oct 27 2015,10:30 pm,Box Score,New Orleans Pelicans,95.0,Golden State Warriors,111.0,NaN,NaN
3,Wed Oct 28 2015,7:30 pm,Box Score,Philadelphia 76ers,95.0,Boston Celtics,112.0,NaN,NaN
4,Wed Oct 28 2015,7:30 pm,Box Score,Chicago Bulls,115.0,Brooklyn Nets,100.0,NaN,NaN

In [4]:
# get home and visiting team
# compare which team won
# return win or loss for each row
home_team = data[4].values
away_team = data[6].values

In [5]:
data['home_team_won'] = [home > away for home, away in zip(home_team, away_team)]

In [6]:
data['away_team_won'] = [home < away for home, away in zip(home_team, away_team)]

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,home_team_won,away_team_won
0,Tue Oct 27 2015,8:00 pm,Box Score,Detroit Pistons,106.0,Atlanta Hawks,94.0,NaN,NaN,True,False
1,Tue Oct 27 2015,8:00 pm,Box Score,Cleveland Cavaliers,95.0,Chicago Bulls,97.0,NaN,NaN,False,True
2,Tue Oct 27 2015,10:30 pm,Box Score,New Orleans Pelicans,95.0,Golden State Warriors,111.0,NaN,NaN,False,True
3,Wed Oct 28 2015,7:30 pm,Box Score,Philadelphia 76ers,95.0,Boston Celtics,112.0,NaN,NaN,False,True
4,Wed Oct 28 2015,7:30 pm,Box Score,Chicago Bulls,115.0,Brooklyn Nets,100.0,NaN,NaN,True,False

In [8]:
home_team = data.set_index(data[3])[['home_team_won', 0]]
home_team.columns = ['RESULT', 'DATE']

In [9]:
away_team = data.set_index(data[5])[['away_team_won', 0]]
away_team.columns = ['RESULT', 'DATE']

In [12]:
df = pd.concat([away_team, home_team])

In [13]:
del df.index.name

In [21]:
df = df.reset_index()

In [23]:
df.columns = ['TEAM', 'RESULT', 'DATE']

In [26]:
df['DATE'] = pd.to_datetime(df.DATE)

In [29]:
df.head()

                    TEAM RESULT       DATE
0          Atlanta Hawks  False 2015-10-27
1          Chicago Bulls   True 2015-10-27
2  Golden State Warriors   True 2015-10-27
3         Boston Celtics   True 2015-10-28
4          Brooklyn Nets  False 2015-10-28

In [30]:
df.tail()

                      TEAM RESULT       DATE
2455        Indiana Pacers  False 2016-04-13
2456  New Orleans Pelicans  False 2016-04-13
2457  Los Angeles Clippers  False 2016-04-13
2458        Denver Nuggets  False 2016-04-13
2459         Atlanta Hawks  False 2016-04-13

In [33]:
import datetime

In [50]:
start = pd.datetime(2015, 10, 27)

end = pd.datetime(2016, 4, 14)

rng = pd.date_range(start, end, freq='W')

In [73]:
ts = df.set_index('DATE')

In [98]:
ts['RESULT'] = ts['RESULT'].apply(lambda x: int(x))

In [112]:
df.groupby('TEAM').cumcount(axis=1)

TypeError: cumcount() got an unexpected keyword argument 'axis'

In [138]:
df['week'] = df.DATE.dt.week

In [156]:
df.head()

                    TEAM RESULT       DATE  week
0          Atlanta Hawks  False 2015-10-27    44
1          Chicago Bulls   True 2015-10-27    44
2  Golden State Warriors   True 2015-10-27    44
3         Boston Celtics   True 2015-10-28    44
4          Brooklyn Nets  False 2015-10-28    44

In [178]:
df.set_index('DATE').groupby(['TEAM', 'week']).cumcount().T.unstack()

AttributeError: 'DatetimeIndex' object has no attribute 'labels'

In [91]:
ts.T

DATE,2015-10-27 00:00:00,2015-10-27 00:00:00,2015-10-27 00:00:00,2015-10-28 00:00:00,2015-10-28 00:00:00,2015-10-28 00:00:00,2015-10-28 00:00:00,2015-10-28 00:00:00,2015-10-28 00:00:00,2015-10-28 00:00:00,...,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00,2016-04-13 00:00:00
TEAM,Atlanta Hawks,Chicago Bulls,Golden State Warriors,Boston Celtics,Brooklyn Nets,Detroit Pistons,Houston Rockets,Los Angeles Lakers,Memphis Grizzlies,Miami Heat,...,Detroit Pistons,San Antonio Spurs,Memphis Grizzlies,Sacramento Kings,Utah Jazz,Indiana Pacers,New Orleans Pelicans,Los Angeles Clippers,Denver Nuggets,Atlanta Hawks
RESULT,False,True,True,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False