In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/schedule.csv", skiprows=1, header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8
0,Tue Oct 27 2015,8:00 pm,Box Score,Detroit Pistons,106.0,Atlanta Hawks,94.0,NaN,NaN
1,Tue Oct 27 2015,8:00 pm,Box Score,Cleveland Cavaliers,95.0,Chicago Bulls,97.0,NaN,NaN
2,Tue Oct 27 2015,10:30 pm,Box Score,New Orleans Pelicans,95.0,Golden State Warriors,111.0,NaN,NaN
3,Wed Oct 28 2015,7:30 pm,Box Score,Philadelphia 76ers,95.0,Boston Celtics,112.0,NaN,NaN
4,Wed Oct 28 2015,7:30 pm,Box Score,Chicago Bulls,115.0,Brooklyn Nets,100.0,NaN,NaN

In [4]:
# get home and visiting team
# compare which team won
# return win or loss for each row
home_team = data[4].values
away_team = data[6].values

In [5]:
data['home_team_won'] = [home > away for home, away in zip(home_team, away_team)]

In [6]:
data['away_team_won'] = [home < away for home, away in zip(home_team, away_team)]

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,home_team_won,away_team_won
0,Tue Oct 27 2015,8:00 pm,Box Score,Detroit Pistons,106.0,Atlanta Hawks,94.0,NaN,NaN,True,False
1,Tue Oct 27 2015,8:00 pm,Box Score,Cleveland Cavaliers,95.0,Chicago Bulls,97.0,NaN,NaN,False,True
2,Tue Oct 27 2015,10:30 pm,Box Score,New Orleans Pelicans,95.0,Golden State Warriors,111.0,NaN,NaN,False,True
3,Wed Oct 28 2015,7:30 pm,Box Score,Philadelphia 76ers,95.0,Boston Celtics,112.0,NaN,NaN,False,True
4,Wed Oct 28 2015,7:30 pm,Box Score,Chicago Bulls,115.0,Brooklyn Nets,100.0,NaN,NaN,True,False

In [8]:
home_team = data.set_index(data[3])[['home_team_won', 0]]
home_team.columns = ['RESULT', 'DATE']

In [9]:
away_team = data.set_index(data[5])[['away_team_won', 0]]
away_team.columns = ['RESULT', 'DATE']

In [10]:
df = pd.concat([away_team, home_team])

In [11]:
del df.index.name

In [12]:
df = df.reset_index()

In [13]:
df.columns = ['TEAM', 'RESULT', 'DATE']

In [14]:
df['DATE'] = pd.to_datetime(df.DATE)

In [15]:
df.head()

                    TEAM RESULT       DATE
0          Atlanta Hawks  False 2015-10-27
1          Chicago Bulls   True 2015-10-27
2  Golden State Warriors   True 2015-10-27
3         Boston Celtics   True 2015-10-28
4          Brooklyn Nets  False 2015-10-28

In [16]:
import datetime

In [17]:
start = pd.datetime(2015, 10, 27)

end = pd.datetime(2016, 4, 14)

rng = pd.date_range(start, end, freq='W')

In [19]:
df['weekofyear'] = df['DATE'].dt.weekofyear

In [21]:
df.reset_index('DATE')

      index                    TEAM RESULT       DATE  weekofyear
0         0           Atlanta Hawks  False 2015-10-27          44
1         1           Chicago Bulls   True 2015-10-27          44
2         2   Golden State Warriors   True 2015-10-27          44
3         3          Boston Celtics   True 2015-10-28          44
4         4           Brooklyn Nets  False 2015-10-28          44
5         5         Detroit Pistons   True 2015-10-28          44
6         6         Houston Rockets  False 2015-10-28          44
7         7      Los Angeles Lakers  False 2015-10-28          44
8         8       Memphis Grizzlies  False 2015-10-28          44
9         9              Miami Heat   True 2015-10-28          44
10       10         Milwaukee Bucks  False 2015-10-28          44
11       11   Oklahoma City Thunder   True 2015-10-28          44
12       12           Orlando Magic  False 2015-10-28          44
13       13            Phoenix Suns  False 2015-10-28          44
14       14  Portland Trail Blazers   True 2015-10-28          44
15       15        Sacramento Kings  False 2015-10-28          44
16       16         Toronto Raptors   True 2015-10-28          44
17       17          Indiana Pacers  False 2015-10-29          44
18       18    Los Angeles Clippers   True 2015-10-29          44
19       19         New York Knicks  False 2015-10-29          44
20       20           Atlanta Hawks   True 2015-10-30          44
21       21          Boston Celtics  False 2015-10-30          44
22       22     Cleveland Cavaliers   True 2015-10-30          44
23       23          Denver Nuggets  False 2015-10-30          44
24       24         Detroit Pistons   True 2015-10-30          44
25       25         Houston Rockets  False 2015-10-30          44
26       26         Milwaukee Bucks  False 2015-10-30          44
27       27           Orlando Magic  False 2015-10-30          44
28       28      Philadelphia 76ers  False 2015-10-30          44
29       29            Phoenix Suns   True 2015-10-30          44
...     ...                     ...    ...        ...         ...
2430   2430   Golden State Warriors   True 2016-04-10          14
2431   2431       Charlotte Hornets  False 2016-04-10          14
2432   2432       Charlotte Hornets   True 2016-04-11          15
2433   2433      Washington Wizards   True 2016-04-11          15
2434   2434           Atlanta Hawks  False 2016-04-11          15
2435   2435         Houston Rockets   True 2016-04-11          15
2436   2436           Chicago Bulls   True 2016-04-11          15
2437   2437      Los Angeles Lakers  False 2016-04-11          15
2438   2438         Milwaukee Bucks  False 2016-04-11          15
2439   2439        Sacramento Kings   True 2016-04-11          15
2440   2440        Dallas Mavericks   True 2016-04-11          15
2441   2441              Miami Heat   True 2016-04-12          15
2442   2442         New York Knicks  False 2016-04-12          15
2443   2443       Memphis Grizzlies  False 2016-04-12          15
2444   2444   Oklahoma City Thunder  False 2016-04-12          15
2445   2445      Philadelphia 76ers  False 2016-04-12          15
2446   2446              Miami Heat  False 2016-04-13          15
2447   2447         Toronto Raptors  False 2016-04-13          15
2448   2448      Philadelphia 76ers  False 2016-04-13          15
2449   2449           Orlando Magic  False 2016-04-13          15
2450   2450         Detroit Pistons  False 2016-04-13          15
2451   2451       San Antonio Spurs  False 2016-04-13          15
2452   2452       Memphis Grizzlies  False 2016-04-13          15
2453   2453        Sacramento Kings  False 2016-04-13          15
2454   2454               Utah Jazz  False 2016-04-13          15
2455   2455          Indiana Pacers  False 2016-04-13          15
2456   2456    New Orleans Pelicans  False 2016-04-13          15
2457   2457    Los Angeles Clippers  False 2016-04-13          15
2458   2458          Denver Nuggets  False 2016-04-13          15
2459   2459           Atlanta Hawks  False 2016-04-13          15

[2460 rows x 5 columns]

In [34]:
df['RESULT'] = df['RESULT'].astype(int)

In [50]:
final_df = df.groupby(['TEAM', 'weekofyear'])['RESULT'].sum().unstack().cumsum(axis=1)

In [60]:
del final_df.index.name

In [65]:
del final_df.columns.name

In [69]:
final_df.T.to_csv('test_data.csv', encoding='utf-8')

In [71]:
final_df.T

,Atlanta Hawks,Boston Celtics,Brooklyn Nets,Charlotte Hornets,Chicago Bulls,Cleveland Cavaliers,Dallas Mavericks,Denver Nuggets,Detroit Pistons,Golden State Warriors,...,Oklahoma City Thunder,Orlando Magic,Philadelphia 76ers,Phoenix Suns,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Toronto Raptors,Utah Jazz,Washington Wizards
1,2,1,0,0,2,4,3,2,3,4,...,2,1,1,1,1,2,3,3,2,1
2,3,4,1,1,3,6,4,4,4,6,...,6,1,2,1,3,4,7,4,3,4
3,5,6,2,4,5,8,6,5,5,9,...,9,1,3,2,5,7,9,8,4,5
4,6,9,2,6,6,12,9,6,7,13,...,12,2,4,2,8,7,10,11,6,6
5,9,13,3,8,7,14,10,9,9,15,...,14,3,5,2,10,8,14,13,10,7
6,10,14,4,10,7,16,10,10,9,17,...,16,4,5,2,12,9,16,14,11,8
7,10,15,5,12,9,18,11,10,9,18,...,16,5,5,2,14,10,18,15,12,10
8,12,17,7,13,10,19,13,11,13,22,...,17,7,5,3,17,11,21,18,13,13
9,14,20,8,16,11,22,14,13,14,24,...,19,8,5,5,18,12,24,20,14,15
10,17,21,8,20,12,25,14,16,16,28,...,20,9,6,5,20,12,27,23,16,15
11,20,22,9,22,15,27,16,17,18,31,...,24,10,6,7,21,14,30,27,19,19
12,23,25,11,25,16,30,16,19,21,35,...,27,11,6,8,23,16,32,28,21,21
13,24,27,11,27,19,33,20,20,23,38,...,29,14,6,8,26,18,35,30,24,22
14,27,29,11,29,20,34,22,21,25,41,...,30,15,7,10,28,19,36,33,25,24
15,27,29,11,30,21,35,23,21,25,41,...,31,16,7,10,28,20,37,34,25,25
44,30,30,11,30,24,37,25,22,28,44,...,34,16,7,12,29,21,39,37,27,27
45,34,31,11,32,25,41,26,23,30,48,...,35,19,7,13,32,21,41,39,29,28
46,35,34,12,35,27,43,29,26,30,52,...,37,21,7,15,32,24,44,41,30,29
47,36,36,14,37,29,45,32,27,32,56,...,39,22,7,17,34,25,47,43,31,31
48,38,38,15,40,30,48,33,27,33,59,...,42,25,7,18,35,26,51,45,33,31
49,40,40,16,41,32,48,35,29,37,63,...,43,27,8,18,37,27,54,46,34,33
50,41,43,18,44,34,50,36,30,39,65,...,47,28,8,21,38,29,57,50,35,35
51,44,43,18,45,36,53,38,32,41,67,...,49,31,8,22,39,31,60,51,36,36
52,47,47,19,46,37,54,40,33,42,69,...,52,33,9,22,41,32,63,53,37,39
53,48,47,21,47,41,57,42,33,43,72,...,55,35,10,22,43,33,66,55,40,40

In [58]:
df['Weekly_Cum'] = df.groupby('weekofyear')['RESULT'].cumsum()

In [33]:
df

                        TEAM RESULT       DATE  weekofyear  Weekly_Cum
0              Atlanta Hawks  False 2015-10-27          44         0.0
1              Chicago Bulls   True 2015-10-27          44         1.0
2      Golden State Warriors   True 2015-10-27          44         2.0
3             Boston Celtics   True 2015-10-28          44         3.0
4              Brooklyn Nets  False 2015-10-28          44         3.0
5            Detroit Pistons   True 2015-10-28          44         4.0
6            Houston Rockets  False 2015-10-28          44         4.0
7         Los Angeles Lakers  False 2015-10-28          44         4.0
8          Memphis Grizzlies  False 2015-10-28          44         4.0
9                 Miami Heat   True 2015-10-28          44         5.0
10           Milwaukee Bucks  False 2015-10-28          44         5.0
11     Oklahoma City Thunder   True 2015-10-28          44         6.0
12             Orlando Magic  False 2015-10-28          44         6.0
13              Phoenix Suns  False 2015-10-28          44         6.0
14    Portland Trail Blazers   True 2015-10-28          44         7.0
15          Sacramento Kings  False 2015-10-28          44         7.0
16           Toronto Raptors   True 2015-10-28          44         8.0
17            Indiana Pacers  False 2015-10-29          44         8.0
18      Los Angeles Clippers   True 2015-10-29          44         9.0
19           New York Knicks  False 2015-10-29          44         9.0
20             Atlanta Hawks   True 2015-10-30          44        10.0
21            Boston Celtics  False 2015-10-30          44        10.0
22       Cleveland Cavaliers   True 2015-10-30          44        11.0
23            Denver Nuggets  False 2015-10-30          44        11.0
24           Detroit Pistons   True 2015-10-30          44        12.0
25           Houston Rockets  False 2015-10-30          44        12.0
26           Milwaukee Bucks  False 2015-10-30          44        12.0
27             Orlando Magic  False 2015-10-30          44        12.0
28        Philadelphia 76ers  False 2015-10-30          44        12.0
29              Phoenix Suns   True 2015-10-30          44        13.0
...                      ...    ...        ...         ...         ...
2430   Golden State Warriors   True 2016-04-10          14        49.0
2431       Charlotte Hornets  False 2016-04-10          14        49.0
2432       Charlotte Hornets   True 2016-04-11          15         8.0
2433      Washington Wizards   True 2016-04-11          15         9.0
2434           Atlanta Hawks  False 2016-04-11          15         9.0
2435         Houston Rockets   True 2016-04-11          15        10.0
2436           Chicago Bulls   True 2016-04-11          15        11.0
2437      Los Angeles Lakers  False 2016-04-11          15        11.0
2438         Milwaukee Bucks  False 2016-04-11          15        11.0
2439        Sacramento Kings   True 2016-04-11          15        12.0
2440        Dallas Mavericks   True 2016-04-11          15        13.0
2441              Miami Heat   True 2016-04-12          15        14.0
2442         New York Knicks  False 2016-04-12          15        14.0
2443       Memphis Grizzlies  False 2016-04-12          15        14.0
2444   Oklahoma City Thunder  False 2016-04-12          15        14.0
2445      Philadelphia 76ers  False 2016-04-12          15        14.0
2446              Miami Heat  False 2016-04-13          15        14.0
2447         Toronto Raptors  False 2016-04-13          15        14.0
2448      Philadelphia 76ers  False 2016-04-13          15        14.0
2449           Orlando Magic  False 2016-04-13          15        14.0
2450         Detroit Pistons  False 2016-04-13          15        14.0
2451       San Antonio Spurs  False 2016-04-13          15        14.0
2452       Memphis Grizzlies  False 2016-04-13          15        14.0
2453        Sacramento Kings  False 2016-04-13          15        14.0
2454               Utah Jazz  False 2016-04-13          15        14.0
2455          Indiana Pacers  False 2016-04-13          15        14.0
2456    New Orleans Pelicans  False 2016-04-13          15        14.0
2457    Los Angeles Clippers  False 2016-04-13          15        14.0
2458          Denver Nuggets  False 2016-04-13          15        14.0
2459           Atlanta Hawks  False 2016-04-13          15        14.0

[2460 rows x 5 columns]

In [ ]:
### df = pd.DataFrame(data)
# df.columns = ['Date','Profit']
# df['Date'] = pd.to_datetime(df['Date'])
# df['weekofyear'] = df['Date'].dt.weekofyear
# df.reset_index('Date')
# df.sort_index(inplace=True)
# df['Weekly_Cum'] = df.groupby('weekofyear').cumsum()

In [ ]:
ts = df.set_index('DATE')

In [ ]:
ts['RESULT'] = ts['RESULT'].apply(lambda x: int(x))

In [ ]:
df['WEEK'] = df.DATE.dt.week

In [ ]:
df['WEEK2'] = pd.factorize(df.WEEK)[0]

In [ ]:
by_team_week = df.groupby(['TEAM', 'WEEK2'])

In [ ]:
by_team_week.indices

In [ ]:
df.head()

In [ ]:
df = df.reset_index('WEEK2')

In [ ]:
df.head()

In [ ]:
df['Weekly_Cum'] = df.groupby('WEEK2').cumsum()

In [ ]:
df.groupby('TEAM').RESULT.sum()

In [ ]:
df['week'] = df.DATE.dt.week

In [ ]:
df.head()

In [ ]:
df.set_index('DATE').groupby(['TEAM', 'week']).cumcount().T.unstack()

In [ ]:
ts.T